<?xml version="1.0" encoding="UTF-8"?>

<suite name="FAST-API: BookStore API – Regression Test Suite"
	verbose="6" parallel="false">

	<listeners>
		<listener
			class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
	</listeners>

	<test name="BookStore API Health Check">
		<classes>
			<class name="com.bookstore.api.tests.health.HealthCheckTest" />
		</classes>
	</test>

	<test name="Schema Validation Test">
		<classes>
			<class name="com.bookstore.api.tests.schema.BookSchemaTest" />
		</classes>
	</test>

	<test name="Book API Test - Create Book">
		<classes>
			<class name="com.bookstore.api.tests.book.CreateBookTest" />
		</classes>
	</test>

	<test name="Book API Test - Get Book">
		<classes>
			<class name="com.bookstore.api.tests.book.GetBookTest" />
		</classes>
	</test>

	<test name="Book API Test - Update Book">
		<classes>
			<class name="com.bookstore.api.tests.book.UpdateBookTest" />
		</classes>
	</test>

	<test name="Book API Test - Delete Book">
		<classes>
			<class name="com.bookstore.api.tests.book.DeleteBookTest" />
		</classes>
	</test>

	<test name="User API Test - Create User">
		<classes>
			<class name="com.bookstore.api.tests.user.CreateUserTest" />
		</classes>
	</test>

	<test name="User API Test - Login">
		<classes>
			<class name="com.bookstore.api.tests.user.LoginUserTest" />
		</classes>
	</test>
</suite>
